.card-container {
    display: flex;
    gap: 20px;
    padding: 50px;
}

.card {
    // background: #fff;
    // border-radius: 20px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    // width: 250px;
    text-align: center;
    // transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-content: center;
    align-items: center;
    background-color: #F6F6F6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 400px;
    gap: 20px;
    
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    animation: bounce 2s infinite;
    border-radius: 50%;
}

.card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #777;
}

/* Animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-8px);
    }
}