video {
    // transform: rotate(-90deg);
    // width: 100%;
    // height: 100%;
    // object-fit: scale-down;

}

.footer {
    background-color: #fff;
    color: #222;
    padding: 15px 0;
    
    .contact-info {
      font-size: 16px;
      
      a {
        color: #222;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease;
        
        &:hover {
          color: #17a2b8;
        }
      }
    }
  }
  
  .social-media {
    background-color: #fff;
    padding: 30px 0;
    text-align: center;
  
    h2 {
      font-size: 24px;
      margin-bottom: 15px;
      font-weight: 600;
      color: #333;
    }
  
    .social-link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 20px;
      transition: all 0.3s ease-in-out;
      text-decoration: none;
      margin: 5px;
      color: #fff;
  
      &.facebook {
        background-color: #1877f2;
        &:hover {
          background-color: darken(#1877f2, 10%);
        }
      }
  
      &.twitter {
        background-color: #1da1f2;
        &:hover {
          background-color: darken(#1da1f2, 10%);
        }
      }
  
      &.instagram {
        background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }
  
  